

/*
	Define Color Code
*/
:root {
	--custom-white: #3C485E;
	--custom-black: #F4F4F4;
	--custom-black-light: rgba(60, 72, 94, 0.15);
	--custom-black-dark: #3C485E;
}

body {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  color: var(--custom-white);
}

#Side-Bar {
	position: relative;
	background-color: var(--custom-black);
	padding-left: 25px;
}

#Display-Canvas {
	background-color: var(--custom-white);	
}

.no-padding-left {
	padding-left: 0px;
}

.uk-nav-side>li>a {
	text-align: center;
	color: var(--custom-white);
}
.uk-nav-side>li.uk-active>a {
	background-color: var(--custom-black-light);
	color: var(--custom-white);
}

.uk-nav-side>li>a:hover {
	color: var(--custom-white);
}

.profile-pic {
	margin-top: 10px;
}

.profile-name {
	font-family: 'HelveticaNeue-Light', 'Helvetica Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 2em;
	text-align: center;
	margin-top: 10px;
	color: var(--custom-white);
}

.profile-summary {
	font-family: 'HelveticaNeue-Light', 'Helvetica Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	margin-top: 30px;
	text-align: center;
}

.side-bar-navigation {
	font-family: 'HelveticaNeue-Light', 'Helvetica Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.nav-bar {
	margin-top: 30px;
	margin-bottom: 60px;
}

.bottom-contact {
	text-align: center;
	margin-bottom: 10px;
	padding-left: 0px;
}

.bottom-info {
	font-size: 0.8em;
	color: var(--custom-black-dark);
}

.info-block {
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	color: var(--custom-black);
}

.icon-black {
	color: var(--custom-black-dark);
}

.project-title {
	font-family: "HelveticaNeue-Light"; 
	font-size: 1.2em;
}

.project-description {
	font-size: 1em;
}

.about-title {
	margin-top: 70px;
}


.about-content {
	margin-top: 70px;
}

.title-big {
	font-size: 2.5em;
}

.title-bold {
	font-family: "HelveticaNeue-Medium";
}

.normal-font {
	font-family: "HelveticaNeue-Light"; 
}

.z-index-top {
	z-index: 999;
}

#particle-canvas {
	width: 99%;
	height: 480px;
	margin-left: -25px;
}

@media screen and (min-width: 480px) {
	#Display-Canvas {
		overflow-y: scroll;
	}
	#particle-canvas {
		height: 99%;
	}
}

@media screen and (min-width: 768px) {
	.project-title {
		font-size: 1em;
	}

	.project-description {
		font-size: 0.7em;
	}
}

@media screen and (min-width: 1220px) {
	#Side-Bar {
		padding-left: 35px;
	}
	#particle-canvas {
		margin-left: -25px;
	}
	.project-title {
		font-size: 1.2em;
	}

	.project-description {
		font-size: 1em;
	}
}

