/*
Color Code:
	Default font-white color: color: rgb(233, 232, 212);
	Default black color: #3C485E;
	Default black-dark: color: rgb(29, 35, 47);

*/


:root {
	--custom-white: #D3E8E1;
	--custom-black: rgb(228, 74, 102);
	--custom-black-light: rgb(238, 84, 112);
	--custom-black-dark: rgb(29, 35, 47);
}

body {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  color: var(--custom-white);
}

#Side-Bar {
	position: relative;
	background-color: var(--custom-black);
}

#Display-Canvas {
	background-color: var(--custom-white);	
}

@media screen and (min-width: 480px) {
	#Display-Canvas {
		overflow-y: scroll;
		padding-right: 30px;
	}
}



.uk-nav-side>li>a {
	text-align: center;
	color: var(--custom-white);
}
.uk-nav-side>li.uk-active>a {
	background-color: var(--custom-black-light);
	color: var(--custom-white);
}

.uk-nav-side>li>a:hover {
	color: var(--custom-white);
}

.profile-pic {
	margin-top: 10px;
}

.profile-name {
	font-size: 1.5em;
	text-align: center;
	margin-top: 10px;
	color: var(--custom-white);
}

.profile-summary {
	margin-top: 30px;
	text-align: center;
}

.nav-bar {
	margin-top: 30px;
	margin-bottom: 60px;
}

.bottom-contact {
	text-align: center;
	margin-bottom: 10px;
}

.bottom-info {
	font-size: 0.8em;
	color: var(--custom-black-dark);
}

.info-block {
	margin-top: 30px;
	color: var(--custom-black-dark);
}

.icon-black {
	color: var(--custom-black-dark);
}

.project-title {
	font-family: "HelveticaNeue-Light"; 
	font-size: 1.2em;
}

.project-description {
	font-size: 1em;
}