html, body, div {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

a {
	color: #cccccc;
}

a:hover {
	color: black;
}

img {
	margin-bottom: 30px;
}

.nav-bottom {
	color: black;
	margin: 3%;
	padding: 1%;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	border-radius: 1000px;
}



.page-info {
	padding-top: 30px;
}

.page-title {
	text-align: center;
	font-family: 'HelveticaNeue-Medium';
	font-size: 3em;
	line-height: 1.1em;
}

.page-sub-title {
	text-align: center;
	color: #cccccc;
	font-size: 2em;
	margin-top: 30px;
	margin-bottom: 30px;
}

.section-title {
	text-align: center;
	font-family: 'HelveticaNeue-Medium';
	font-size: 1.2em;
	line-height: 2em;
}

.section-content {
	text-align: center;
	font-size: 1.2em;
	line-height: 2em;
}

.white-font {
	color: white;
}

.black-font {
	color: black;
}

.black-bar {
	background-color: black;
}


hr {
	margin: 0px;
	padding: 0px;
}


/*
	Scroll Spy Bar
*/
#scroll-spy-bar-anchor {
	background-color: white;
	position: sticky; 
	top: 0;
	z-index: 999;
}
.scroll-spy-bar {
	font-size: 1.5em;
	color: #cccccc;
	line-height: 2em;
	text-align: center;
}

.scroll-bar-item {
	padding-left: 0px;
}



.scroll-spy-bar > div > a {
	text-decoration: none;
}

.active-spy-bar > a { 
	color: black;
}

.active-spy-bar {
	border-bottom: solid;
	border-bottom-width: 2px;
	border-bottom-color: black; 
}

.content-title {
	text-align: center;
	padding-bottom: 30px;
}

.content-subtitle {
	color: #737373;
	font-family: 'HelveticaNeue-Medium';
	padding-top: 30px;
	padding-bottom: 15px;
}

.content-body {
	padding-bottom: 30px;
	text-align: justify;
}


/* 
	Responsive font size
*/
@media screen and (min-width: 100px) {
	.content-title {
		font-size: 1.2em;
	}

	.content-subtitle {
		font-size: 1em;
	}

	.content-body {
		font-size: 1em;
	}
}

@media screen and (min-width: 500px) {
	.content-title {
		font-size: 1.8em;
	}

	.content-subtitle {
		font-size: 1.2em;
	}

	.content-body {
		font-size: 1.2em;
	}
}

@media screen and (min-width: 960px) {
	.content-title {
		font-size: 2.5em;
	}

	.content-subtitle {
		font-size: 1.5em;
	}

	.content-body {
		font-size: 1.5em;
		line-height: 1.2em;
	}
}

.uk-width-7-10 {
	max-width: 800px;
}

.uk-width-8-10 {
	max-width: 800px;
}