/* GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.uk-overlay-panel {
	width: 20%;
	background:rgba(0, 0, 0, .35);
	left: auto;
}

.uk-position-top {
	top: 15px;
}

.caption {
	position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

h3 {
  font-size: 2.2em;
	font-weight: bold;
	line-height: 1.2em;
	text-transform: uppercase;
}

p {
	margin: 40px 0;
}



/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
	.uk-overlay-panel {
		left: 0;
		width: 100%;
		top: auto;
		padding: 15px 10px;
		box-sizing: border-box;
	}

	.caption {
		position: static;
		-webkit-transform: none;
		        transform: none;
	}

	p {
		margin: 10px 0;
	 }
}

/* Role Style
--- */

html, body, div {
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.section-title {
	text-align: center;
	font-family: 'HelveticaNeue-Medium';
	font-size: 1.2em;
	line-height: 1.2em;
}

.white-font {
	color: white;
}

.black-font {
	color: black;
}

.section-content {
	text-align: center;
	font-size: 1.2em;
	line-height: 1.2em;
}

hr {
	margin: 0px;
	padding: 0px;
}

.section-padding-medium-top {
	padding-top: 10%;
}