/* GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.uk-overlay-panel {
	width: 20%;
	background:rgba(0, 0, 0, .35);
	left: auto;
}

.uk-position-top {
	top: 15px;
}

.caption {
	position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

h3 {
  font-size: 2.2em;
	font-weight: bold;
	line-height: 1.2em;
	text-transform: uppercase;
}

p {
	margin: 40px 0;
}



/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
	.uk-overlay-panel {
		left: 0;
		width: 100%;
		top: auto;
		padding: 15px 10px;
		box-sizing: border-box;
	}

	.caption {
		position: static;
		-webkit-transform: none;
		        transform: none;
	}

	p {
		margin: 10px 0;
	 }
}

#cover {
	background-image: url(./../images/Cover.png);
}

#section-1 {
	background-image: url(./../images/Section_1.png);
}

#section-2 {
	background-image: url(./../images/Section_2.png);
}

#section-3 {
	background-image: url(./../images/Section_3.png);
}

#section-4 {
	background-image: url(./../images/Section_4.png);
}

#section-5 {
	background-image: url(./../images/Section_5.png);
}

#section-6 {
	background-image: url(./../images/Section_6.png);
}

#section-7 {
	background-image: url(./../images/Section_7.png);
}

#section-8 {
	background-image: url(./../images/Section_8.png);
}
