#cover {
	background-image: url(./../images/Cover.png);
}

#section-1 {
	background-image: url(./../images/Section_1.png);
}

#section-2 {
	background-image: url(./../images/Section_2.png);
}

#section-3 {
	background-image: url(./../images/Section_3.png);
}

#section-4 {
	background-image: url(./../images/Section_4.png);
}

#section-5 {
	background-image: url(./../images/Section_5.png);
}

#section-6 {
	background-image: url(./../images/Section_6.png);
}

#section-7 {
	background-image: url(./../images/Section_7.png);
}

#section-8 {
	background-image: url(./../images/Section_8.png);
}

#section-9 {
	background-image: url(./../images/Section_9.png);
}

#section-10 {
	background-image: url(./../images/Section_10.png);
}

#section-11 {
	background-image: url(./../images/part-1.png);
}

#section-12 {
	background-image: url(./../images/part-2.png);
}


#section-mis {
	background-color: #17C37B;
	position: relative;
}

