html, body, div {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.nav-bottom {
	color: black;
	margin: 3%;
	padding: 1%;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	border-radius: 1000px;
}

.back-to-main {
	
}



.page-info {
	padding-top: 5%;
}

.page-title {
	text-align: center;
	font-family: 'HelveticaNeue-Medium';
	font-size: 3em;
}

.page-sub-title {
	text-align: center;
	color: #cccccc;
	font-size: 2em;
	margin-top: 30px;
	margin-bottom: 30px;
}


.proj-info {
}

.section-title {
	text-align: center;
	font-family: 'HelveticaNeue-Medium';
	font-size: 1.2em;
	line-height: 2em;
}

.section-content {
	text-align: center;
	font-size: 1.2em;
	line-height: 2em;
}

.white-font {
	color: white;
}

.black-font {
	color: black;
}


hr {
	margin: 0px;
	padding: 0px;
}

#cover {
	background-image: url(./../images/Cover.png);
}

#section-1 {
	background-image: url(./../images/Section_1.png);
}

#section-2 {
	background-image: url(./../images/Section_2.png);
}

#section-3 {
	background-image: url(./../images/Section_3.png);
}

#section-4 {
	background-image: url(./../images/Section_4.png);
}

#section-5 {
	background-image: url(./../images/Section_5.png);
}

#section-6 {
	background-image: url(./../images/Section_6.png);
}

#section-7 {
	background-image: url(./../images/Section_7.png);
}

#section-8 {
	background-image: url(./../images/Section_8.png);
}

#section-mis {
	background-color: #17C37B;
	position: relative;
}

#section-mis .black-bar {
	background-color: black;
}

.section-padding-medium-top {
	padding-top: 10%;
}

.section-padding-35-left {
	padding-left: 35px;
}

.section-padding-small-top {
	padding-top: 2%;
}


.floating-black-box {
	margin-top: 5%;
	padding: 5%;
	border-style: solid;
	border-width: 1px;
}
