<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="../css/uikit.min.css" />
        <link rel="stylesheet" href="../css/mainpage_style.css">
        <script src="../js/jquery-2.1.4.min.js"></script>
        <script src="../js/uikit.min.js"></script>
    </head>
    <body>
    <div class="uk-cover-background main_container">
    	<div class="uk-grid uk-width-large-1-1 bottom_navbar uk-grid-collapse">
    		<div class="uk-width-large-1-6">
		    	<div class="uk-animation-hover uk-animation-fade navbar_title">
			   		<h1 class="navbar_title"><a href="">Home</a></h1>
			    </div>
		    </div>
		    <div class="uk-width-large-1-6">
		    	<div class="uk-animation-hover uk-animation-fade navbar_title">
			   		<h1 class="navbar_title"><a href="">About</a></h1>
			    </div>
		    </div>
		    <div class="uk-width-large-1-6">
		    	<div class="uk-animation-hover uk-animation-fade navbar_title">
			   		<h1 class="navbar_title"><a href="">Projects</a></h1>
			    </div>
		    </div>
		    <div class="uk-width-large-1-6">
		    	<div class="uk-animation-hover uk-animation-fade navbar_title">
			   		<h1 class="navbar_title"><a href="">Resume</a></h1>
			    </div>
		    </div>
		    <div class="uk-width-large-1-6">
		    	<div class="uk-animation-hover uk-animation-fade navbar_title">
			   		<h1 class="navbar_title"><a href="">Blog</a></h1>
			    </div>
		    </div>
		    <div class="uk-width-large-1-6">
		    	<h1 class="navbar_title">Chen Di</h1>
		    </div>
			
		</div>
    </div>
    </body>
</html>