html, body, div {
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.section-title {
	text-align: center;
	font-family: 'HelveticaNeue-Medium';
	font-size: 1.2em;
	line-height: 1.2em;
}

.white-font {
	color: white;
}

.black-font {
	color: black;
}

.section-content {
	text-align: center;
	font-size: 1.2em;
	line-height: 1.2em;
}

hr {
	margin: 0px;
	padding: 0px;
}

#cover {
	background-image: url(./../images/Cover.png);
}

#section-1 {
	background-image: url(./../images/Section_1.png);
}

#section-2 {
	background-image: url(./../images/Section_2.png);
}

#section-3 {
	background-image: url(./../images/Section_3.png);
}

#section-4 {
	background-image: url(./../images/Section_4.png);
}

#section-5 {
	background-image: url(./../images/Section_5.png);
}

#section-6 {
	background-image: url(./../images/Section_6.png);
}

#section-7 {
	background-image: url(./../images/Section_7.png);
}

#section-8 {
	background-image: url(./../images/Section_8.png);
}

#section-mis {
	background-color: #17C37B;
	position: relative;
}

#section-mis .black-bar {
	background-color: black;
}



.section-padding-medium-top {
	padding-top: 10%;
}

.section-padding-35-left {
	padding-left: 35px;
}

.section-padding-small-top {
	padding-top: 2%;
}


.floating-black-box {
	margin-top: 5%;
	padding: 5%;
	border-style: solid;
	border-width: 1px;
}
