#cover {
	background-image: url(./../images/Cover.png);
}

#section-1 {
	background-image: url(./../images/Section_1.png);
}

#section-2 {
	background-image: url(./../images/Section_2.png);
}

#section-3 {
	background-image: url(./../images/Section_3.png);
}

#section-4 {
	background-image: url(./../images/Section_4.png);
}

#section-5 {
	background-image: url(./../images/Section_5.png);
}

#section-6 {
	background-image: url(./../images/Section_6.png);
}

#section-7 {
	background-image: url(./../images/Section_7.png);
}

#section-8 {
	background-image: url(./../images/Section_8.png);
}

#section-mis {
	background-color: #ffb526;
	position: relative;
}

